name: CI/CD - Breast Cancer App

on:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train model
        run: |
          python train.py

      - name: Build Docker image
        run: docker build -t breast-cancer-app .

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker image
        run: docker tag breast-cancer-app ${{ secrets.DOCKER_USERNAME }}/breast-cancer-app:latest && docker push ${{ secrets.DOCKER_USERNAME }}/breast-cancer-app:latest
